<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe Game</title>
  </head>

  <body>
    <header>
      <h1>Tic Tac Toe Game</h1>
    </header>
    <main>
      <form action="/game/create" method="post">
        Board Dimensions:<br>
        <% @dimensions.keys.each do |dimension| %>
          <input type="radio" name="dimension" value=<%= dimension.to_s %> checked ><%= dimension.to_s %><br>
        <% end %>
        Game Type:<br>
        <% @game_types.each_pair do |type, description| %>
          <% if type == "HVH" %><!--This is temporarily limiting to HVH-->
            <input type="radio" name="game_type" value=<%= type.to_s %> > <%= description.to_s %> <br>
          <% end %>
        <% end %>
        <input type="submit" value="Play!">
      </form>
    </main>
  </body>
</html>
